// placeholder

.category-selector-container {

  display: flex;
  position: relative;
  justify-content: center;


}

.category-selector-wrapper {

  display: flex;
  width: 100%;
  justify-content: space-between;

}