@use '/src/styles/data/viewportBreakpoints.scss' as viewport;
@use '/src/styles/data/layoutData.scss' as layout;

.page-gutter {

    width: layout.$pageGutterWidth;

    @media (max-width: viewport.$desktop) {
      width: 100%;
    }

    display: flex;
    justify-content: center;

}