.category-card-container {

  width: 30%;
  gap: 10px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  font-family: Manrope, sans-serif;

}

.category-card-content {

  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.category-card-content img {

  position: absolute;
  width: 35%;

}

.category-card-text {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;

}

.category-card-pseudo {

  background-color: var(--secondary-light-color);
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 1;
  border-radius: 8px;

}

@keyframes rotate-180-clockwise {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }

}

.category-name {

  font-size: var(--font-lg);
  font-weight: bold;

}

.shop-link::after {
  content: ">";
  display: inline-block;
  color: var(--primary-theme-color);
  font-size: var(--font-lg);
}

.shop-link:hover::after {
  color: var(--primary-dark-color);
  font-size: var(--font-lg);
  animation: rotate-180-clockwise 500ms linear forwards;
}


