@use '/src/styles/data/viewportBreakpoints' as viewport;
//@use '/src/styles/data/'

.category-card-container {

  width: 32%;
  gap: 10px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  font-family: Manrope, sans-serif;

}

.category-card-content {

  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.category-card-content img {

  position: absolute;
  width: 35%;

}

.category-card-text {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 5%;

}

.category-card-pseudo {

  background-color: var(--secondary-light-color);
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 1;
  border-radius: 8px;

}

@keyframes rotate-180-clockwise {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }

}

@keyframes rotate-180-clockwise-reverse {

  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }

}

@keyframes bounce {

  from {
    transform: rotate(180deg) translateY(0);
  }

  25% {
    transform: rotate(180deg) translateY(2px);
  }

  50% {
    transform: rotate(180deg) translateY(0);
  }

  75% {
    transform: rotate(180deg) translateY(2px);
  }

  to {
    transform: rotate(180deg) translateY(0);
  }

}

.category-name {

  font-size: var(--font-lg);
  font-weight: bold;
  cursor: pointer;

}

.shop-link::after {
  content: ">";
  display: inline-block;
  color: var(--primary-theme-color);
  font-size: var(--font-lg);
}

.shop-link {
  cursor: pointer;
}

.rotate-180-clockwise-reverse-selector::after {
  animation: rotate-180-clockwise-reverse 150ms linear forwards;
}

.rotate-180-clockwise-selector::after {
    animation: rotate-180-clockwise 150ms linear forwards, bounce 1000ms linear infinite;
    animation-delay: 0ms, 150ms;
}
//
//@media (max-width: ) {
//
//
//
//}


