.category-card-container {

  background-color: var(--secondary-light-color);

  flex: 1;
  gap: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.category-card-content {



}




.category-card-container img {



}

