.category-card-container {

  width: 30%;
  gap: 10px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.category-card-content {

  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.category-card-content img {

  position: absolute;
  width: 35%;

}

.category-card-text {

  position: absolute;
  bottom: 0;

}

.category-card-pseudo {

  background-color: var(--secondary-light-color);
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 1;
  border-radius: 8px;

}
