@use "/src/styles/data/viewportBreakpoints" as viewport;

.hero-section-container {

  display: flex;
  background-color: var(--tertiary-dark-color);

  font-family: Manrope, sans-serif;

  justify-content: center;

}

.hero-section-information {

  display: flex;
  flex-direction: column;
  justify-content: center;

  --padding: 5%;

  padding: 0 var(--padding) 0 0;
  width: calc(50%);

  --gap: 20px;
  gap: var(--gap);

}

.hero-section-information > * {
  color: var(--primary-light-color);
}

.sub-title {
  font-size: var(--font-sm);
}

.product-title {
  font-size: var(--font-56);
  font-weight: bold;
}

.product-description {
  width: 80%;
}


@media (max-width: 1300px) {

  .hero-section-information {
    gap: calc(var(--gap) * 1.5);
  }

  .sub-title {
    font-size: var(--font-sm);
  }

  .product-title {
    font-size: var(--font-48);
    font-weight: bold;
  }


  .hero-section-image {
    width: 90%;
  }

}

@media (max-width: 1150px) {

  .hero-section-information {
    gap: calc(var(--gap) * 1.5);
  }


  .product-title {
    font-size: var(--font-32);
    font-weight: bold;
  }

  .product-description {
    width: 100%;
  }

  .hero-section-image {
    width: 50%;
  }

}

@media (max-width: viewport.$desktop) {

  .hero-section-container {
    width: 100vw;
    height: 100vw;
    justify-content: center;

  }

  .hero-section-information {
    position: relative;
    z-index: 1;
    align-items: center;
    padding: 0;
  }

  .hero-section-image {
    position: absolute;

    height: 100vw;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .hero-section-image img {
    width: 100%;
    height: 100%;
  }

  .product-title {
    text-align: center;
  }

  .product-description {
    text-align: center;
  }

}


@media (max-width: viewport.$desktop) and (min-width: viewport.$tablet) {

  .product-title {
    font-size: var(--font-56);
  }

}

@media (max-width: viewport.$tablet) and (min-width: viewport.$mobile) {

  .product-title {
    font-size: var(--font-48);
  }

  .product-description {
    width: 150%;
  }

}

@media (max-width: viewport.$desktop) {

  .hero-section-image img {
    opacity: 0.25;
  }

}

@media (max-width: 600px) and (min-width: viewport.$mobile) {

  .product-title {
    font-size: var(--font-32);
  }

}

@media (min-width: 0px) and (max-width: viewport.$mobile) {

  .hero-section-image {
    overflow: hidden;
  }

  .hero-section-image img {
    transform: scale(1.5);
  }

  .product-title {
    font-size: var(--font-32);
  }

  .hero-section-information {
    width: 85%;
  }

  .hero-section-information {
    gap: 10px;
  }

}



