// Placeholder
.header-container {
  width: 100%;

  --header-height: 60px;

  background-color: var(--primary-dark-color);

  display: flex;

  height: var(--header-height);

  justify-content: space-between;

  padding: 0 20px 0 20px;

}

.header-container > * {

  color: white;
  font-family: "Manrope", sans-serif;

}

.links-container {

  display: flex;


}

.header-wrapper {

  width: 100%;

  display: flex;
  justify-content: center;
  background-color: var(--primary-dark-color);

}

.header-container--left {

  display: flex;

}

.non-desktop-menu {
  height: 20px;
}